[data-theme='azurite'] {
    --text-scaling: 1.0;
    --base-font-color: var(--color-surface-950);
    --base-font-color-dark: var(--color-surface-50);
    --base-font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    --base-font-size: inherit;
    --base-line-height: inherit;
    --base-font-weight: normal;
    --base-font-style: normal;
    --base-letter-spacing: 0em;
    --heading-font-color: inherit;
    --heading-font-color-dark: inherit;
    --heading-font-family: inherit;
    --heading-font-weight: bold;
    --heading-font-style: normal;
    --heading-letter-spacing: inherit;
    --anchor-font-color: var(--color-primary-500);
    --anchor-font-color-dark: var(--color-primary-500);
    --anchor-font-family: inherit;
    --anchor-font-size: inherit;
    --anchor-line-height: inherit;
    --anchor-font-weight: inherit;
    --anchor-font-style: inherit;
    --anchor-letter-spacing: inherit;
    --anchor-text-decoration: none;
    --anchor-text-decoration-hover: underline;
    --anchor-text-decoration-active: none;
    --anchor-text-decoration-focus: none;
    --spacing: 0.25rem;
    --radius-base: 0.75rem;
    --radius-container: 0.75rem;
    --default-border-width: 1px;
    --default-divide-width: 1px;
    --default-ring-width: 1px;
    --body-background-color: var(--color-surface-200);
    --body-background-color-dark: var(--color-surface-950);
    --color-primary-50: oklch(81.3% 0.18 327.12deg);
    --color-primary-100: oklch(73.63% 0.2 325.77deg);
    --color-primary-200: oklch(66.16% 0.21 324.47deg);
    --color-primary-300: oklch(58.65% 0.22 322.82deg);
    --color-primary-400: oklch(51.76% 0.22 321.22deg);
    --color-primary-500: oklch(45.49% 0.22 319.05deg);
    --color-primary-600: oklch(40.62% 0.19 318.48deg);
    --color-primary-700: oklch(35.77% 0.17 318.23deg);
    --color-primary-800: oklch(30.54% 0.15 317.73deg);
    --color-primary-900: oklch(25.27% 0.12 317.18deg);
    --color-primary-950: oklch(19.45% 0.1 315.22deg);
    --color-primary-contrast-dark: var(--color-primary-950);
    --color-primary-contrast-light: var(--color-primary-50);
    --color-primary-contrast-50: var(--color-primary-contrast-dark);
    --color-primary-contrast-100: var(--color-primary-contrast-dark);
    --color-primary-contrast-200: var(--color-primary-contrast-dark);
    --color-primary-contrast-300: var(--color-primary-contrast-light);
    --color-primary-contrast-400: var(--color-primary-contrast-light);
    --color-primary-contrast-500: var(--color-primary-contrast-light);
    --color-primary-contrast-600: var(--color-primary-contrast-light);
    --color-primary-contrast-700: var(--color-primary-contrast-light);
    --color-primary-contrast-800: var(--color-primary-contrast-light);
    --color-primary-contrast-900: var(--color-primary-contrast-light);
    --color-primary-contrast-950: var(--color-primary-contrast-light);
    --color-secondary-50: oklch(77.44% 0.03 42.63deg);
    --color-secondary-100: oklch(70.11% 0.03 40.16deg);
    --color-secondary-200: oklch(62.69% 0.03 42.01deg);
    --color-secondary-300: oklch(54.9% 0.03 41.97deg);
    --color-secondary-400: oklch(46.98% 0.03 44.09deg);
    --color-secondary-500: oklch(38.61% 0.03 41.19deg);
    --color-secondary-600: oklch(33.35% 0.02 38.07deg);
    --color-secondary-700: oklch(27.99% 0.02 40.96deg);
    --color-secondary-800: oklch(22.21% 0.01 41.59deg);
    --color-secondary-900: oklch(16.2% 0.01 55.88deg);
    --color-secondary-950: oklch(0% 0 none);
    --color-secondary-contrast-dark: var(--color-secondary-950);
    --color-secondary-contrast-light: var(--color-secondary-50);
    --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-200: var(--color-secondary-contrast-light);
    --color-secondary-contrast-300: var(--color-secondary-contrast-light);
    --color-secondary-contrast-400: var(--color-secondary-contrast-light);
    --color-secondary-contrast-500: var(--color-secondary-contrast-light);
    --color-secondary-contrast-600: var(--color-secondary-contrast-light);
    --color-secondary-contrast-700: var(--color-secondary-contrast-light);
    --color-secondary-contrast-800: var(--color-secondary-contrast-light);
    --color-secondary-contrast-900: var(--color-secondary-contrast-light);
    --color-secondary-contrast-950: var(--color-secondary-contrast-light);
    --color-tertiary-50: oklch(100% 0 none);
    --color-tertiary-100: oklch(97.76% 0.01 319.71deg);
    --color-tertiary-200: oklch(95.74% 0.02 316.1deg);
    --color-tertiary-300: oklch(93.41% 0.02 314.8deg);
    --color-tertiary-400: oklch(91.38% 0.03 314.1deg);
    --color-tertiary-500: oklch(89.12% 0.04 315.17deg);
    --color-tertiary-600: oklch(81.71% 0.04 315.15deg);
    --color-tertiary-700: oklch(74.32% 0.04 314.62deg);
    --color-tertiary-800: oklch(66.42% 0.04 314.03deg);
    --color-tertiary-900: oklch(58.61% 0.04 313.38deg);
    --color-tertiary-950: oklch(50.33% 0.04 313.29deg);
    --color-tertiary-contrast-dark: var(--color-tertiary-950);
    --color-tertiary-contrast-light: var(--color-tertiary-50);
    --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
    --color-success-50: oklch(100% 0 none);
    --color-success-100: oklch(98.78% 0.02 178.17deg);
    --color-success-200: oklch(97.6% 0.03 175.57deg);
    --color-success-300: oklch(96.57% 0.05 175.37deg);
    --color-success-400: oklch(95.51% 0.06 174.18deg);
    --color-success-500: oklch(94.54% 0.08 174.07deg);
    --color-success-600: oklch(87.1% 0.08 174.43deg);
    --color-success-700: oklch(79.45% 0.08 174.96deg);
    --color-success-800: oklch(71.91% 0.08 173.54deg);
    --color-success-900: oklch(63.93% 0.08 173.78deg);
    --color-success-950: oklch(55.81% 0.08 173.59deg);
    --color-success-contrast-dark: var(--color-success-950);
    --color-success-contrast-light: var(--color-success-50);
    --color-success-contrast-50: var(--color-success-contrast-dark);
    --color-success-contrast-100: var(--color-success-contrast-dark);
    --color-success-contrast-200: var(--color-success-contrast-dark);
    --color-success-contrast-300: var(--color-success-contrast-dark);
    --color-success-contrast-400: var(--color-success-contrast-dark);
    --color-success-contrast-500: var(--color-success-contrast-dark);
    --color-success-contrast-600: var(--color-success-contrast-dark);
    --color-success-contrast-700: var(--color-success-contrast-dark);
    --color-success-contrast-800: var(--color-success-contrast-dark);
    --color-success-contrast-900: var(--color-success-contrast-light);
    --color-success-contrast-950: var(--color-success-contrast-light);
    --color-warning-50: oklch(99.84% 0.01 106.38deg);
    --color-warning-100: oklch(96.38% 0.03 74.76deg);
    --color-warning-200: oklch(93.08% 0.05 68.21deg);
    --color-warning-300: oklch(89.78% 0.07 65.34deg);
    --color-warning-400: oklch(86.64% 0.09 63.46deg);
    --color-warning-500: oklch(83.51% 0.11 62.31deg);
    --color-warning-600: oklch(76.12% 0.11 62.75deg);
    --color-warning-700: oklch(68.56% 0.11 63.08deg);
    --color-warning-800: oklch(60.69% 0.1 64.07deg);
    --color-warning-900: oklch(52.75% 0.1 63.6deg);
    --color-warning-950: oklch(44.58% 0.1 61.8deg);
    --color-warning-contrast-dark: var(--color-warning-950);
    --color-warning-contrast-light: var(--color-warning-50);
    --color-warning-contrast-50: var(--color-warning-contrast-dark);
    --color-warning-contrast-100: var(--color-warning-contrast-dark);
    --color-warning-contrast-200: var(--color-warning-contrast-dark);
    --color-warning-contrast-300: var(--color-warning-contrast-dark);
    --color-warning-contrast-400: var(--color-warning-contrast-dark);
    --color-warning-contrast-500: var(--color-warning-contrast-dark);
    --color-warning-contrast-600: var(--color-warning-contrast-dark);
    --color-warning-contrast-700: var(--color-warning-contrast-dark);
    --color-warning-contrast-800: var(--color-warning-contrast-light);
    --color-warning-contrast-900: var(--color-warning-contrast-light);
    --color-warning-contrast-950: var(--color-warning-contrast-light);
    --color-error-50: oklch(92.31% 0.04 6.62deg);
    --color-error-100: oklch(86.7% 0.07 9.73deg);
    --color-error-200: oklch(81.47% 0.1 12.38deg);
    --color-error-300: oklch(76.24% 0.13 13.95deg);
    --color-error-400: oklch(71.68% 0.16 16.21deg);
    --color-error-500: oklch(67.53% 0.19 18.35deg);
    --color-error-600: oklch(60.68% 0.18 19.9deg);
    --color-error-700: oklch(53.9% 0.17 21.83deg);
    --color-error-800: oklch(46.8% 0.16 23.39deg);
    --color-error-900: oklch(39.98% 0.15 26.09deg);
    --color-error-950: oklch(32.93% 0.13 28.85deg);
    --color-error-contrast-dark: var(--color-error-950);
    --color-error-contrast-light: var(--color-error-50);
    --color-error-contrast-50: var(--color-error-contrast-dark);
    --color-error-contrast-100: var(--color-error-contrast-dark);
    --color-error-contrast-200: var(--color-error-contrast-dark);
    --color-error-contrast-300: var(--color-error-contrast-dark);
    --color-error-contrast-400: var(--color-error-contrast-dark);
    --color-error-contrast-500: var(--color-error-contrast-light);
    --color-error-contrast-600: var(--color-error-contrast-light);
    --color-error-contrast-700: var(--color-error-contrast-light);
    --color-error-contrast-800: var(--color-error-contrast-light);
    --color-error-contrast-900: var(--color-error-contrast-light);
    --color-error-contrast-950: var(--color-error-contrast-light);
    --color-surface-50: oklch(100% 0 none);
    --color-surface-100: oklch(97.02% 0 none);
    --color-surface-200: oklch(94.01% 0 none);
    --color-surface-300: oklch(90.67% 0 none);
    --color-surface-400: oklch(87.61% 0 none);
    --color-surface-500: oklch(84.52% 0 none);
    --color-surface-600: oklch(77.31% 0 none);
    --color-surface-700: oklch(69.6% 0 none);
    --color-surface-800: oklch(62.01% 0 none);
    --color-surface-900: oklch(53.82% 0 none);
    --color-surface-950: oklch(45.68% 0 none);
    --color-surface-contrast-dark: var(--color-surface-950);
    --color-surface-contrast-light: var(--color-surface-50);
    --color-surface-contrast-50: var(--color-surface-contrast-dark);
    --color-surface-contrast-100: var(--color-surface-contrast-dark);
    --color-surface-contrast-200: var(--color-surface-contrast-dark);
    --color-surface-contrast-300: var(--color-surface-contrast-dark);
    --color-surface-contrast-400: var(--color-surface-contrast-dark);
    --color-surface-contrast-500: var(--color-surface-contrast-dark);
    --color-surface-contrast-600: var(--color-surface-contrast-light);
    --color-surface-contrast-700: var(--color-surface-contrast-light);
    --color-surface-contrast-800: var(--color-surface-contrast-light);
    --color-surface-contrast-900: var(--color-surface-contrast-light);
    --color-surface-contrast-950: var(--color-surface-contrast-light);
}